.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

::-webkit-scrollbar{
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track{
  background-color: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(38, 37, 37);
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(201, 192, 192);
}
.css-5ori8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0 !important;
  padding-bottom: var(--chakra-space-10);
  border-top: 1px solid;
  border-color: transparent !important;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}